* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: rgb(255, 241, 249);
}

.logo {
  flex: 1%;
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.info {
  display: flex;
  flex: 30%;
  justify-content: space-around;
  align-items: center;
}

.navbar-link {
  color: rgb(111, 111, 111);
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}

.navbar a:hover {
  background-color: rgb(255, 241, 249);
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-style: double;
}

.more {
  display: flex;
  flex: 10%;
  padding: 0px;
  text-align: center;
  background-color: rgb(255, 241, 249);
  justify-content: space-evenly;
  align-items: center;
}

#button1 {
  border-radius: 50%;
  background-color: orange;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.button2 {
  border-radius: 50%;
  background-color: orange;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .logo,
  .info,
  .more {
    text-align: center;
    flex-direction: row;
    padding: 10px;
  }

  .navbar-link {
    display: block;
    padding: 10px 10px;
  }

  .inside-more {
    display: block;
    margin-left: 15px;
  }
}
/* .button1:hover,
.button2:hover {
  font-size: 15px;
} */

.hero {
  display: flex;
  padding: 5px;
  background-color: rgb(255, 241, 249);
}

.left {
  flex: 0 0 40%;
  margin: 10px;
  padding: 50px 100px;
  background-color: rgb(255, 241, 249);
  color: rgb(0, 0, 0);
}

.shape {
  margin-left: -115px;
  padding: 0px 0px;
}

.right {
  flex: 0 0 40%;
  margin: 10px;
  padding: 30px 50px;
  background-color: rgb(255, 241, 249);
}

@media screen and (max-width: 768px) {
  .left {
    flex: 1 0 100%;
    text-align: center;
    margin: 10px;
    padding: 50px;
  }

  .right {
    display: flex;
    flex: 1 0 100%;
    margin: 10px;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .hero {
    flex-direction: column;
  }

  .shape {
    margin-left: -490px;
  }
}

.service {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.howitworks {
  color: orange;
}

.whatweserve {
  color: black;
}

.paragragh {
  color: gray;
}

@media screen and (max-width: 768px) {
  .service {
    flex-direction: column;
  }

  .service > * {
    flex: 1;
    margin: 5px;
  }
}

.waysoforder {
  display: flex;
  padding: 1px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.throughTheApp,
.Delivery,
.bestQuality {
  display: flex;
  flex: 33%;
  padding: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .throughTheApp,
  .Delivery,
  .bestQuality {
    flex: 1 0 100%;
  }
}

.theMenu {
  display: flex;
  padding: 70px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.ourMenu {
  color: orange;
}

.populer {
  color: black;
}

.paragragh {
  color: gray;
}

@media screen and (max-width: 768px) {
  .theMenu {
    padding: 50px;
  }
}

.meals {
  display: flex;
  padding: 1px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.top {
  display: flex;
  background-color: rgb(255, 241, 249);
  margin: 0px;
  width: 270px;
  height: 310px;
  line-height: 100px;
  border-right: 4px solid rgb(216, 194, 194);
  justify-content: center;
  align-items: center;
}

.middle {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  width: 270px;
  text-align: center;
  line-height: 25px;
  border-right: 4px solid rgb(216, 194, 194);
  border-left: 3px solid rgb(216, 194, 194);
}

.bottom {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  width: 270px;
  text-align: center;
  line-height: 10px;
  border-right: 4px solid rgb(216, 194, 194);
  border-bottom: 4px solid rgb(216, 194, 194);
  border-left: 3px solid rgb(216, 194, 194);
  justify-content: space-between;
  align-items: center;
}

.meal-1,
.meal-2,
.meal-3,
.meal-4 {
  display: flex;
  flex: 15%;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .meal-1,
  .meal-2,
  .meal-3,
  .meal-4 {
    flex: 1 0 100%;
    padding-top: 10px;
  }
}

@media screen and (max-width: 1180px) {
  .meal-1,
  .meal-2,
  .meal-3,
  .meal-4 {
    flex: 1 0 100%;
    padding-top: 10px;
  }
}

.forMoreMenu {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

.button2 {
  font-size: larger;
}

.testimonial {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-evenly;
  align-items: center;
}

.photo {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
}

.evaluation {
  display: flex;
  padding: 0px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  flex-wrap: wrap;
}

.text {
  background-color: rgb(255, 255, 255);
  padding: 7%;
  flex-wrap: wrap;
}

.evalu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  flex: 1 0 100%;
  gap: 3px;
}

.evalu > div {
  width: 360px;
  height: 200px;
  /* margin-right: 10px; */
  border-radius: 20px;
  background-color: gainsboro;
  flex: 1 1 calc(50% - 20%);
}

.up {
  display: flex;
  flex-direction: row;
  background-color: gainsboro;
  padding: 0%;
  width: 250px;
  border-radius: 50px;
  padding-left: 0px;
  padding-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.down {
  display: flex;
  flex-direction: row;
  background-color: gainsboro;
  padding: 0%;
  width: 360px;
  border-radius: 50px;
  padding-left: 0px;
  padding: 20px;
}

.name&rate > div {
  display: flex;
  flex-direction: row;
}

.rate {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .testimonial {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .photo,
  .evaluation {
    flex: 1 0 100%;
    padding-top: 10px;
    flex-wrap: wrap;
  }

  .text {
    flex: 1 0 100%;
    text-align: center;
    padding: 30px;
  }

  .evalu {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1180px) {
  .photo,
  .evaluation {
    flex: 1 0 100%;
    padding-top: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .text {
    flex: 1 0 100%;
    text-align: center;
    padding: 30px;
  }

  .testimonial {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.forSignUp {
  display: flex;
  flex: 1;
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  align-items: center;
  flex-direction: column;

  justify-content: center;
}

.centered {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .forSignUp {
    width: 100%;
  }

  .textOverImg {
    font-size: 15px;
  }
}

.footer1 {
  display: flex;
  background-color: rgb(255, 241, 249);
  padding: 50px;
}

.pages {
  display: flex;
  width: 150px;
  background-color: rgb(255, 241, 249);
  justify-content: space-between;
}

.pages:hover {
  cursor: pointer;
}

.div1,
.div2,
.div3,
.div4 {
  flex: 1;
  display: flex;
  background-color: rgb(255, 241, 249);
  margin: 10px;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .footer1 {
    flex-wrap: wrap;
    padding: 30px;
  }

  .div1,
  .div2,
  .div3,
  .div4 {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}

.footer2 {
  display: flex;
  padding: 30px;
  background-color: rgb(255, 241, 249);
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer2 {
    padding: 20px;
  }
}
